@font-face {
    font-family: 'Wanted Sans Variable';
    src: url('./assets/fonts/WantedSansVariable.woff2') format('woff2-variations'),
        url('./assets/fonts/WantedSansVariable.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url('./fonts/MaterialSymbolsRounded-VariableFont.woff2') format('woff2');
}