:root {
    --Shade10: #232323;
    --Shade20: #393939;
    --Shade30: #555555;
    --Shade40: #717171;
    --Shade50: #8E8E8E;
    --Shade60: #A9A9A9;
    --Shade70: #C7C7C7;
    --Shade80: #EBEBEB;
    --Shade90: #FFFFFF;
    --Shade00: #1A1A1A;
    --Shade00-02: rgba(26, 26, 26, 0.02);
    --Shade00-03: rgba(26, 26, 26, 0.03);
    --Shade00-05: rgba(26, 26, 26, 0.05);
    --Shade00-12: rgba(26, 26, 26, 0.12);
    --Shade00-24: rgba(26, 26, 26, 0.24);
    --Shade00-54: rgba(26, 26, 26, 0.54);
    --Shade00-78: rgba(26, 26, 26, 0.78);
    --Shade90-02: rgba(255, 255, 255, 0.02);
    --Shade90-03: rgba(255, 255, 255, 0.03);
    --Shade90-05: rgba(255, 255, 255, 0.05);
    --Shade90-12: rgba(255, 255, 255, 0.12);
    --Shade90-24: rgba(255, 255, 255, 0.24);
    --Shade90-54: rgba(255, 255, 255, 0.54);
    --Shade90-78: rgba(255, 255, 255, 0.78);
    --Red10: #3B0101;
    --Red20: #730303;
    --Red30: #B00C0C;
    --Red40: #E52222;
    --Red50: #FF4242;
    --Red60: #FF6363;
    --Red70: #FF8C8C;
    --Red80: #FFB5B5;
    --Red90: #FED5D5;
    --Red95: #FEECEC;
    --Red99: #FFFAFA;
    --Red50-24: rgba(255, 66, 66, 0.24);
    --Red60-24: rgba(255, 99, 99, 0.24);
    --RedOrange10: #360B00;
    --RedOrange20: #661700;
    --RedOrange30: #9C2800;
    --RedOrange40: #D13D00;
    --RedOrange48: #F55A00;
    --RedOrange50: #FF5E00;
    --RedOrange60: #FF7B2E;
    --RedOrange70: #FF9B61;
    --RedOrange80: #FFBD96;
    --RedOrange90: #FED9C4;
    --RedOrange95: #FEEEE5;
    --RedOrange99: #FFFAF7;
    --Orange10: #361E00;
    --Orange20: #663A00;
    --Orange30: #9C5800;
    --Orange39: #D17600;
    --Orange40: #D47800;
    --Orange50: #FF9200;
    --Orange60: #FFA938;
    --Orange70: #FFC06E;
    --Orange80: #FFD49C;
    --Orange90: #FEE6C6;
    --Orange95: #FEF4E6;
    --Orange99: #FFFCF7;
    --Yellow10: #4D2D00;
    --Yellow20: #753D00;
    --Yellow30: #995700;
    --Yellow40: #D98900;
    --Yellow50: #FFB619;
    --Yellow60: #FFCB50;
    --Yellow70: #FFD676;
    --Yellow80: #FFE097;
    --Yellow90: #FEE6C6;
    --Yellow50-24: rgba(255, 182, 25, 0.24);
    --Yellow60-24: rgba(255, 203, 80, 0.24);
    --Lime10: #112900;
    --Lime20: #225200;
    --Lime30: #347D00;
    --Lime37: #429E00;
    --Lime40: #48AD00;
    --Lime50: #58CF04;
    --Lime60: #6BE016;
    --Lime70: #88F03E;
    --Lime80: #AEF779;
    --Lime90: #CCFCA9;
    --Lime95: #E6FFD4;
    --Lime99: #F8FFF2;
    --Green10: #00240C;
    --Green20: #004517;
    --Green30: #006E25;
    --Green40: #009632;
    --Green50: #00BF40;
    --Green60: #1ED45A;
    --Green70: #49E57D;
    --Green80: #7DF5A5;
    --Green90: #ACFCC7;
    --Green95: #D9FFE6;
    --Green99: #F2FFF6;
    --Green50-24: rgba(0, 191, 64, 0.24);
    --Green60-24: rgba(30, 212, 90, 0.24);
    --Cyan10: #00252B;
    --Cyan20: #004854;
    --Cyan30: #006F82;
    --Cyan40: #0098B2;
    --Cyan50: #00BDDE;
    --Cyan60: #28D0ED;
    --Cyan70: #57DFF7;
    --Cyan80: #8AEDFF;
    --Cyan90: #B5F4FF;
    --Cyan95: #DEFAFF;
    --Cyan99: #F7FEFF;
    --LightBlue10: #002130;
    --LightBlue20: #004261;
    --LightBlue30: #006796;
    --LightBlue40: #008DCF;
    --LightBlue50: #00AEFF;
    --LightBlue60: #3DC2FF;
    --LightBlue70: #70D2FF;
    --LightBlue80: #A1E1FF;
    --LightBlue90: #C4ECFE;
    --LightBlue95: #E5F6FE;
    --LightBlue99: #F7FDFF;
    --Blue10: #001536;
    --Blue20: #002966;
    --Blue30: #003E9C;
    --Blue40: #0054D1;
    --Blue45: #005EEB;
    --Blue50: #0066FF;
    --Blue55: #1A75FF;
    --Blue60: #3385FF;
    --Blue65: #4F95FF;
    --Blue70: #69A5FF;
    --Blue80: #9EC5FF;
    --Blue90: #C9DEFE;
    --Blue95: #EAF2FE;
    --Blue99: #F7FBFF;
    --Blue50-24: rgba(0, 102, 255, 0.24);
    --Blue65-24: rgba(79, 149, 255, 0.24);
    --Violet10: #11024D;
    --Violet20: #23098F;
    --Violet30: #3A16C9;
    --Violet40: #4F29E5;
    --Violet45: #5B37ED;
    --Violet50: #6541F2;
    --Violet60: #7D5EF7;
    --Violet70: #9E86FC;
    --Violet80: #C0B0FF;
    --Violet90: #DBD3FE;
    --Violet95: #F0ECFE;
    --Violet99: #FBFAFF;
    --Violet50-24: rgba(101, 65, 242, 0.24);
    --Violet50-12: rgba(101, 65, 242, 0.12);
    --Violet50-05: rgba(101, 65, 242, 0.05);
    --Purple10: #290247;
    --Purple20: #580A7D;
    --Purple30: #861CB8;
    --Purple40: #AD36E3;
    --Purple50: #CB59FF;
    --Purple60: #D478FF;
    --Purple70: #DE96FF;
    --Purple80: #E9BAFF;
    --Purple90: #F2D6FF;
    --Purple95: #F9EDFF;
    --Purple99: #FEFBFF;
    --Pink10: #3D0133;
    --Pink20: #730560;
    --Pink30: #A81690;
    --Pink40: #D331B8;
    --Pink46: #E846CD;
    --Pink50: #F553DA;
    --Pink60: #FA73E3;
    --Pink70: #FF94ED;
    --Pink80: #FFB8F3;
    --Pink90: #FED3F7;
    --Pink95: #FEECFB;
    --Pink99: #FFFAFE;
}

[data-theme='light'] {
    --Static-White: var(--Shade90);
    --Static-White-12: var(--Shade90-12);
    --Static-Black: var(--Shade00);
    --Static-Error: var(--Red40);
    --Background-Body: var(--Shade80);
    --Background-Card: var(--Shade90);
    --Disabled-Background: var(--Shade00-05);
    --Disabled-Font: var(--Shade80);
    --Interact-Default: var(--Shade00-03);
    --Interact-Hover: var(--Shade00-05);
    --Interact-Active: var(--Shade00-12);
    --Interact-Stroke-Default: var(--Shade00-05);
    --Interact-Stroke-Hover: var(--Shade00-12);
    --Interact-Stroke-Active: var(--Shade00-54);
    --Font-Default: var(--Shade10);
    --Font-isMuted: var(--Shade20);
    --Font-Inactive: var(--Shade40);
    --Divider-Normal: var(--Shade00-05);
    --Divider-Strong: var(--Shade00-12);
    --Primary-5: var(--Violet50-5);
    --Primary-12: var(--Violet50-12);
    --Primary-24: var(--Violet50-24);
    --Primary-100: var(--Violet50);
    --Primary-F100: var(--Violet40);
    --Secondary-100: var(--Shade80);
    --Accent-Lime: var(--Lime50);
    --Accent-Cyan: var(--Cyan50);
    --Accent-Blue: var(--Blue55);
    --Accent-Purple: var(--Purple50);
    --Accent-Pink: var(--Pink50);
    --Accent-Orange: var(--Orange50);
    --Accent-RedOrange: var(--RedOrange50);
    --Status-Success-24: var(--Green50-24);
    --Status-Success-100: var(--Green50);
    --Status-Success-F100: var(--Green30);
    --Status-Warning-24: var(--Yellow50-24);
    --Status-Warning-100: var(--Yellow50);
    --Status-Warning-F100: var(--Yellow30);
    --Status-Error-24: var(--Red50-24);
    --Status-Error-100: var(--Red50);
    --Status-Error-F100: var(--Red30);
    --Status-Info-24: var(--Blue50-24);
    --Status-Info-100: var(--Blue50);
    --Status-Info-F100: var(--Blue40);
}

:root,
[data-theme='dark'] {
    --Static-White: var(--Shade90);
    --Static-White-12: var(--Shade90-12);
    --Static-Black: var(--Shade00);
    --Static-Error: var(--Red40);
    --Background-Body: var(--Shade00);
    --Background-Card: var(--Shade10);
    --Disabled-Background: var(--Shade90-05);
    --Disabled-Font: var(--Shade30);
    --Interact-Default: var(--Shade90-03);
    --Interact-Hover: var(--Shade90-05);
    --Interact-Active: var(--Shade90-12);
    --Interact-Stroke-Default: var(--Shade90-05);
    --Interact-Stroke-Hover: var(--Shade90-12);
    --Interact-Stroke-Active: var(--Shade90-54);
    --Font-Default: var(--Shade80);
    --Font-isMuted: var(--Shade70);
    --Font-Inactive: var(--Shade50);
    --Divider-Normal: var(--Shade90-05);
    --Divider-Strong: var(--Shade90-12);
    --Primary-5: var(--Violet50-5);
    --Primary-12: var(--Violet50-12);
    --Primary-24: var(--Violet50-24);
    --Primary-100: var(--Violet50);
    --Primary-F100: var(--Violet70);
    --Secondary-100: var(--Shade20);
    --Accent-Lime: var(--Lime60);
    --Accent-Cyan: var(--Cyan60);
    --Accent-Blue: var(--Blue65);
    --Accent-Purple: var(--Purple60);
    --Accent-Pink: var(--Pink60);
    --Accent-Orange: var(--Orange60);
    --Accent-RedOrange: var(--RedOrange60);
    --Status-Success-24: var(--Green60-24);
    --Status-Success-100: var(--Green60);
    --Status-Success-F100: var(--Green60);
    --Status-Warning-24: var(--Yellow60-24);
    --Status-Warning-100: var(--Yellow60);
    --Status-Warning-F100: var(--Yellow60);
    --Status-Error-24: var(--Red60-24);
    --Status-Error-100: var(--Red60);
    --Status-Error-F100: var(--Red60);
    --Status-Info-24: var(--Blue65-24);
    --Status-Info-100: var(--Blue65);
    --Status-Info-F100: var(--Blue65);
}