// @import "../../assets/style/_theme.scss";
@import "../../assets/style/_typography.scss";

.button {
    border: none;
    padding: 0 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0ms;
    height: 44px; // default
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    @extend .font-button;

    .icon {
        font-size: 20px;
        width: 20px;
        height: 20px;
    }

    &.primary {
        background-color: var(--Primary-100);
        color: var(--Static-White);
    }

    &.assistive {
        background-color: var(--Secondary-100);
        color: var(--Font-Default);
    }

    &:not(:disabled):hover {
        opacity: .78;
    }

    &:not(:disabled):active {
        filter: brightness(0.8);
    }

    &:disabled {
        background-color: var(--Disabled-Background);
        color: var(--Disabled-Font);
        cursor: not-allowed;
    }

    &.large {
        height: 48px;
        border-radius: 12px;
        padding: 0 24px;

        .icon {
            font-size: 24px;
            width: 24px;
            height: 24px;
        }
    }

    &.small {
        height: 36px;
        border-radius: 8px;
        padding: 0 12px;
        @extend .font-button-small;

        .icon {
            font-size: 18px;
            width: 18px;
            height: 18px;
        }
    }

    &.xsmall {
        height: 28px;
        border-radius: 8px;
        padding: 0 12px;
        @extend .font-button-small;

        .icon {
            font-size: 16px;
            width: 16px;
            height: 16px;
        }
    }
}