@import "../../assets/style/_typography.scss";
@import "../../assets/style/_variables.scss";

.button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    border: none;
    padding: 0 16px;
    border-radius: map-get(map-get($button-sizes, 'default'), 'radius');
    cursor: pointer;
    transition: 0ms;
    height: map-get(map-get($button-sizes, 'default'), 'height');
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    @extend .font-button;
    user-select: none;
    transition: $cubic-bezier 150ms;

    .icon {
        font-size: map-get(map-get($button-sizes, 'default'), 'icon-size');
        width: map-get(map-get($button-sizes, 'default'), 'icon-size');
        height: map-get(map-get($button-sizes, 'default'), 'icon-size');
    }

    &:not(:disabled):active {
        transform: scale(0.95);

    &.blockType {
        &.primary {
            background-color: var(--Primary-100);
            color: var(--Static-White);
        }

        &.assistive {
            background-color: var(--Secondary-100);
            color: var(--Font-Default);
        }

        &:not(:disabled):hover {
            opacity: .78;
        }

        &:not(:disabled):active {
            filter: brightness(0.8);
        }

        &:disabled {
            background-color: var(--Disabled-Background);
            color: var(--Disabled-Font);
            cursor: not-allowed;
        }
    }

    &.textType {
        background-color: transparent;

        &.primary {
            color: var(--Primary-F100);

            &:not(:disabled):hover {
                background-color: var(--Primary-12);
            }
        }

        &.assistive {
            color: var(--Font-Default);

            &:not(:disabled):hover {
                background-color: var(--Interact-Hover);
            }
        }

        &:disabled {
            background-color: transparent;
            color: var(--Disabled-Font);
            cursor: not-allowed;
        }
    }

    &.large {
        height: map-get(map-get($button-sizes, 'large'), 'height');
        border-radius: map-get(map-get($button-sizes, 'large'), 'radius');
        padding: 0 24px;

        .icon {
            font-size: map-get(map-get($button-sizes, 'large'), 'icon-size');
            width: map-get(map-get($button-sizes, 'large'), 'icon-size');
            height: map-get(map-get($button-sizes, 'large'), 'icon-size');
        }
    }

    &.small {
        height: map-get(map-get($button-sizes, 'small'), 'height');
        border-radius: map-get(map-get($button-sizes, 'small'), 'radius');
        padding: 0 12px;
        @extend .font-button-small;

        .icon {
            font-size: map-get(map-get($button-sizes, 'small'), 'icon-size');
            width: map-get(map-get($button-sizes, 'small'), 'icon-size');
            height: map-get(map-get($button-sizes, 'small'), 'icon-size');
        }
    }

    &.xsmall {
        height: map-get(map-get($button-sizes, 'xsmall'), 'height');
        border-radius: map-get(map-get($button-sizes, 'xsmall'), 'radius');
        padding: 0 12px;
        @extend .font-button-small;

        .icon {
            font-size: map-get(map-get($button-sizes, 'xsmall'), 'icon-size');
            width: map-get(map-get($button-sizes, 'xsmall'), 'icon-size');
            height: map-get(map-get($button-sizes, 'xsmall'), 'icon-size');
        }
    }
}