// Enviroments
$cubic-bezier: cubic-bezier(0.2, 0.2, 0.38, 0.9);

// Border Radius
$radius-surface: 16px;
$radius-components: (
  'large': 12px,
  'default': 10px,
  'small': 8px
);

// Components
// Button
$button-sizes: (
  'large': ('height': 48px,
    'icon-size': 24px,
    'custom-icon-size': 28px,
    'radius': 12px),
  'default': ('height': 44px,
    'icon-size': 20px,
    'custom-icon-size': 24px,
    'radius': 10px),
  'small': ('height': 36px,
    'icon-size': 18px,
    'custom-icon-size': 20px,
    'radius': 8px),
  'xsmall': ('height': 28px,
    'icon-size': 16px,
    'custom-icon-size': 18px,
    'radius': 8px)
);

// Shadows
@mixin sh-xs {
  box-shadow: 0px 1px 2px -1px rgba(23, 23, 23, 0.1);
}

@mixin sh-sm {
  box-shadow: 0px 4px 6px -1px rgba(23, 23, 23, 0.06),
    0px 2px 4px -2px rgba(23, 23, 23, 0.06);
}

@mixin sh-md {
  box-shadow: 0px 10px 15px -3px rgba(23, 23, 23, 0.07),
    0px 4px 6px -2px rgba(23, 23, 23, 0.07);
}

@mixin sh-lg {
  box-shadow: 0px 16px 24px -6px rgba(0, 0, 0, 0.08),
    0px 6px 10px -4px rgba(0, 0, 0, 0.08);
}

@mixin sh-xl {
  box-shadow: 0px 24px 38px -10px rgba(23, 23, 23, 0.12),
    0px 10px 15px -5px rgba(23, 23, 23, 0.1);
}

@mixin sh-sp-sm {
  box-shadow: 0px 0px 60px 0px rgba(23, 23, 23, 0.1);
}

@mixin sh-sp-md {
  box-shadow: 0px 15px 75px 0px rgba(23, 23, 23, 0.16);
}