@use "../../assets/style/base/typography" as *;

.chip-button {
    @extend .caption-2;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 28px;
    padding: 0 8px;
    border-radius: 24px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    outline: none;
    border: 1px solid var(--Interact-Stroke-Default);
    background: var(--Interact-Default);
    color: var(--Font-Default);
    white-space: nowrap;

    &:hover {
        background: var(--Interact-Hover);
        border-color: var(--Interact-Stroke-Hover);
    }

    &:active {
        transform: scale(0.96);
    }
}

.variant-default {
    background: var(--Interact-Default);
    border-color: var(--Interact-Stroke-Default);

    color: var(--Font-Default);

    &:hover {
        background: var(--Interact-Hover);
        border-color: var(--Interact-Stroke-Hover);
    }
}

.variant-limit-break {
    background: var(--Primary-24);
    border-color: var(--Primary-100);
    color: var(--Primary-F100);

    &:hover {
        background: var(--Primary-24);
        filter: brightness(1.15);
    }
}

.variant-core {
    background: var(--Status-Warning-24);
    border-color: var(--Status-Warning-100);
    color: var(--Status-Warning-F100);

    &:hover {
        background: var(--Status-Warning-24);
        filter: brightness(1.15);
    }
}