.avatar {
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--Disabled-Background);
    border: 1px solid var(--Divider-Normal);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .fallback {
        width: 100%;
        height: 100%;
    }
}