@use "../../assets/style/abstracts/variables" as *;

.datatable-container {
    overflow-x: auto;
    overflow-y: auto;
    background-color: var(--Background-Card);
    border-radius: $radius-surface;
    border: 1px solid var(--Divider-Normal);
}

.datatable {
    border-collapse: collapse;
    text-align: left;
    min-width: max-content;
    width: 100%;
}

.thead {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 48px;
    background-color: var(--Background-Card);
}

.th {
    padding: 4px;
    border-bottom: 1px solid var(--Divider-Normal);
    background-color: var(--Background-Header);

    &.narrow {
        padding: 4px;
    }

    &:first-child {
        padding-left: 16px;
    }

    &:last-child {
        padding-right: 16px;
    }
}

.tr {
    border-bottom: 1px solid var(--Divider-Normal);
    transition: 100ms;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background-color: var(--Interact-Hover);
    }
}

.td {
    padding: 4px;

    &.narrow {
        padding: 4px;
    }

    &:first-child {
        padding-left: 16px;
    }

    &:last-child {
        padding-right: 16px;
    }
}